/* Modificado para mantener el tamaño del sidebar y el content */

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  min-height: 100vh;
}

.app-container {
  display: flex;
  flex: 1;
  width: 100%;
}

.sidebar {
  width: 250px;
  min-width: 250px; /* Mínimo ancho del sidebar */
  background-color: #181818;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #fff;
}

.sidebar h2 {
  font-size: 1.2em;
  margin-bottom: 15px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  cursor: pointer;
  margin-bottom: 10px;
}

.sidebar li span {
  font-weight: bold;
  margin-right: 10px;
}

.thumbnail-container {
  display: flex;
}

.thumbnail-container img {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  border-radius: 4px;
}

.content {
  flex-grow: 1;
  min-width: 600px; /* Mínimo ancho del content */
  padding: 20px;
  background-color: #121212;
  color: #fff;
}

.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
}

button {
  background-color: #ff0000;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  background-color: #777;
  cursor: not-allowed;
}

/* Resto de los estilos ... */
